<% combination = capsule %>
<% @accepted_offer = Offer.find_last_by_ip_and_combination_id_and_response(request.remote_ip, combination.id, "accepted") %>

<div class="sbox w640px thin">
    <div class="sinner">
        <h1>
            <% if @accepted == true and @accepted_offer %>
                <%= combination.product_name %> Done Deal
                <% if session[request.remote_ip] %>
                  = <%= session[request.remote_ip] %> night, @ $<%= number_with_delimiter(@accepted_offer.price.ceil) %> / night, Total Price = $<%= number_with_delimiter(@accepted_offer.price.ceil*session[request.remote_ip].to_i) %>
                <% end %>
            <% else %>
                <%= combination.product_name %>, is yours @ the right price!
            <% end %>
        </h1>

        <div class="visual">
            <div class="caption">
                <span>
                    Share with friends:
                    <%= link_to(image_tag("/images/icons/ico-15x14-twitter.gif", :size => "15x14", :alt => "Twitter"), "http://twitter.com/home?status=Save money and look great on exclusive Gap wardrobe deals! #{capsule_url(combination.id)}", :target => "_new") %>
                    <%= link_to(image_tag("/images/icons/ico-15x14-facebook.gif", :size => "15x14", :alt => "Facebook"), "http://www.facebook.com/sharer.php?u=#{capsule_url(combination.id)}&t=Save money and look great on exclusive Gap wardrobe deals!", :target => "_new") %>
                    <%= link_to(image_tag("/images/icons/ico-14x14-email.gif", :size => "15x14", :alt => "Email"), send_to_path(combination.id)) %>
                </span>
            </div>
            <%= link_to(image_tag((combination.product.image_url || "/images/9.jpg"), :size => "400x300"), capsule_url(combination.id), :target => "_new", :class => "photo") %>
        </div>

        <div class="manage">
            <br />
            <div class="plate">
                <div class="body">
                  <% if logged_in? and current_user.user_type %>
                      <h2>Total Price= $<%= number_with_delimiter(combination.total_reg_price.ceil) %></h2>
                      <p class="ctrl">
                          <label>Your offer?</label>
                          <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                      </p>
                      <p>
                          <span class="button green-fat disabled"><input type="submit" name="" value="Say Your Price!"></span>
                      </p>
                  <% else %>
                      <% schedule_date = (combination.wardrobe.schedule ? combination.wardrobe.schedule.start_date : Date.today + 1.day) %>
                      <% if schedule_date > Date.today%>
                          <h2>Say your price</h2>
                          <p class="ctrl">
                              <label>Your offer?</label>
                              <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                          </p>
                          <p>
                              <span class="button green-fat disabled"><input type="submit" name="" value="Say Your Price!"></span>
                          </p>
                      <% elsif @accepted_offer %>
                          <p class="ctrl">Total Price= $<%= number_with_delimiter(@accepted_offer.price.ceil) %></p>
                          <% form_tag payments_path(@accepted_offer.id) do %>
                          <p align="center">
                            <span class="button green-fat"><%= submit_tag "Pay now" %></span>
                          </p>
                          <% end %>
                      <% else %>
                          <% form_tag capsule_path(combination), :id => "submit_form" do %>
                              <%= hidden_field_tag(:submit_button, "counter") %>
                              <% if @counter %>
                                <h2 class="long"><%= "Final " if @last_offer == true %>Offer= $<%= number_with_delimiter(@new_price.ceil) %></h2>
                                <p class="ctrl">
                                    <label>Buy at $<%= number_with_delimiter(@new_price.ceil) %>?</label>
                                    <%= button_to_function("Yes", "var f = document.forms['submit_form'];$('submit_button').value='yes';f.submit();return false;", :class => "button-yes") %>
                                    <%= button_to_function("No", "var f = document.forms['submit_form'];$('submit_button').value='no';f.submit();return false;", :class => "button-no") %>
                                </p>
                                <% if @last_offer == false %>
                                <p>OR</p>
                                <p class="ctrl">
                                    <label>Your Counter Offer?</label>
                                    <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                                </p>
                                <p>
                                  <span class="button orange-fat"><%= submit_tag "Counter" %></span>
                                </p>
                                <% end %>
                              <% else %>
                                <h2>Say your price</h2>

                                <p class="ctrl">
                                    <label>Your offer?</label>
                                    <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                                </p>
                                <p>
                                    <span class="button green-fat"><%= submit_tag "Say your price!" %></span>
                                </p>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                  <% if @error %>
                      <p class="ctrl">Sorry, can't do that. Please make another offer</p>
                  <% end %>
                </div><!-- .body -->
                <div class="foot"></div>
            </div><!-- .plate -->
        </div><!-- .manage -->
        <div class="clearer"></div>
        <br />
        <div class="divider"></div>
        <p><%= link_to(capsule_url(combination.id), capsule_path(combination.id)) if request.path != schedule_path(combination.wardrobe) %></p>
        <h4>
            <% if logged_in? and current_user.user_type %>
            <%= number_with_delimiter(combination.wardrobe.qty) %> items, Discounted Price=$<%= number_with_delimiter(combination.total_min_price.ceil) %>
            <% else %>
            WARDROBE INCLUDES (Reg. Price=$<%= number_with_delimiter(combination.total_reg_price.ceil) %>)
            <% end %>
        </h4>

        <p>
            <%= combination.product_name %>
        </p>
        <% if request.path == schedule_path(combination.wardrobe) %>
            <div class="divider"></div>

            <% form_tag schedule_path, :id => "schedule_form" do %>
              <%= hidden_field_tag :id, @wardrobe.id %>
              <%= hidden_field_tag :s_type, "live" %>
              <p class="actions" id="actions">
                  <span class="button green"><%= button_to_function("Go Live!", "$('s_type').value='live';document.forms['schedule_form'].submit();") %></span>
                  <%= link_to("Schedule", "javascript:void();", :class => "alter", :onclick => "$('s_type').value='schedule';$('calendar').show();$('actions').hide();") %>
                  <%= link_to("Decide Later", "javascript:void();", :class => "alter", :onclick => "$('s_type').value='later';document.forms['schedule_form'].submit();") %>
              </p>
              <div id="calendar">
                <div class="divider"></div>
                <p class="ctrl">
                    Go Live date for this wardrobe?<br />
                    <%= calendar_date_select_tag "start_date", Date.today, :embedded => true, :year_range => Date.today.year..Date.today.year+5, :month_year => 'label', :onchange => "javascript::void();", :valid_date_check => "date >= (new Date()).stripTime()"%>
                </p>
                <p>
                    <span class="button green"><%= submit_tag("Go Live!") %></span>
                    <%= link_to("Cancel", "javascript::void();", :class => "alter", :onclick => "$('actions').show();$('calendar').hide();") %>
                </p>
              </div>
            <% end %>
        <% end %>
    </div><!-- .sinner -->
    <div class="stl"></div><div class="str"></div>
    <div class="sbl"></div><div class="sbr"></div>
</div><!-- .capsule -->
