<%= render :partial => "/partials/my_dashboard" %>
<h1>My Wardrobes</h1>

<% if @combinations and @combinations.size > 0 %>
      <% for combination in @combinations %>
        <div class="w540">
          <%= render :partial => "partials/capsule", :object => combination %>
        </div>
      <% end %>

  <% form_tag my_wardrobes_path, :id => "submit_form", :style => "display:none;" do %>
    <%= hidden_field_tag(:page, @page) %>
  <% end %>
  <div class="paginator w650px">
      <% if @page.to_i != @post_pages %>
              <% if(@page.to_i <= 1)%>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "button next", :onclick => "var f = document.forms['submit_form'];$('page').value=2;f.submit();return false;") %>
              <% else %>
                  <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "button prev", :onclick => "var f = document.forms['submit_form'];$('page').value=#{params[:page].to_i-1};f.submit();return false;") %>
                  <%= link_to("Next #{@per_page}", "javascript:void();", :class => "button next", :onclick => "var f = document.forms['submit_form'];$('page').value=#{params[:page].to_i+1};f.submit();return false;") %>
              <% end %>
      <% elsif @page.to_i > 1 %>
              <%= link_to("Prev #{@per_page}", "javascript:void();", :class => "button prev", :onclick => "var f = document.forms['submit_form'];$('page').value=#{params[:page].to_i-1};f.submit();return false;") %>
      <% end -%>
  </div>
<% else %>
  <div style="height: 200px;"></div>
<% end %>
